[Desktop Entry]
Version=1.1
Type=Application
Name=AM User Install
NoDisplay=true
Icon=io.github.ivan-hc.AM
Exec=sh -c 'am -i --user "${1#pla-install://}"' _ %u
Terminal=true
MimeType=x-scheme-handler/pla-install;
Categories=Utility;
