[Desktop Entry]
Version=1.1
Type=Application
Name=AppMan Install
NoDisplay=true
Icon=io.github.ivan-hc.AM
Exec=sh -c 'appman -i "${1#pla-install://}"' _ %u
Terminal=true
MimeType=x-scheme-handler/pla-install;
Categories=Utility;
