[Desktop Entry]
Name=AM
GenericName=AppImage Package Manager
Comment=AppImage Package Manager: install, update and manage AppImages and portable apps (portable AppMan)
Exec=appman
Icon=logo
Type=Application
Categories=System;PackageManager;Utility;
Keywords=package;manager;appimage;appman;am;terminal;
StartupNotify=false
Terminal=true