name: "Language Manager"

on:
  push:
    branches: dev
    paths:
      - APP-MANAGER
      - modules/*.am
      - translations/po-files/*.po
      - .github/workflows/language-updater.yml

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  sync-files:
    name: "Sync locale files"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source repository"
        uses: actions/checkout@v4

      - name: "Cache dependencies"
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: gettext
          version: 1.0

      - name: "Run Language Manager"
        run: |
          ./LANGUAGE-MANAGER

      - name: "Push to Source"
        run: |
          git config --global user.name "ivan-hc"
          git config --global user.email "noreply@github.com"
          git add translations
          if git diff-index --quiet HEAD; then
            echo "No changes to commit." >> $GITHUB_STEP_SUMMARY
          else
            git commit -m "Sync locale files"
            git push && echo "Sync locale files" >> $GITHUB_STEP_SUMMARY
          fi
